<form action="" name="placeForm" novalidate>
    <h4 ng-show="isNew">{{ "CREATE_PLACE | translate" }}</h4>
    <h4 ng-hide="isNew">{{ "NEW_PLACE | translate" }}</h4>

    <label>{{ 'TITLE' | translate }} *: <br/><input type="text" ng-model="place.p_title" name="pTitle" required class="span12"/>
        <span class="text-error" ng-show="placeForm.$dirty && placeForm.pTitle.$error.required">{{ 'FIELD_NOT_EMPTY' | translate }}.</span>
    </label>

    <label>{{ 'DESCRIPTION' | translate }} (<a href="http://daringfireball.net/projects/markdown/" target="_blank">Markdown</a> {{ 'ENABLED' | translate }}):<br>
        <textarea ng-model="place.p_description" class="span12"></textarea>
    </label>

    <label for="placeLat">{{ 'LATITUDE' | translate }}:</label>
    <div class="input-append">
        <input type="text" id="placeLat" ng-model="place.p_lat" placeholder="{{ 'CLICK_ON_THE_MAP' | translate }}" disabled>
        <span class="add-on">&deg;</span>
    </div>

    <label for="placeLng">{{ 'LONGITUDE' | translate }}:</label>
    <div class="input-append" class="span12">
        <input type="text" id="placeLng" ng-model="place.p_lng" placeholder="{{ 'CLICK_ON_THE_MAP' | translate }}" disabled>
        <span class="add-on">&deg;</span>
    </div>

    <div class="alert alert-error" ng-show="showErrors">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>{{ 'ERRORS' | translate }}:</h4>
        <ul>
            <li ng-repeat="error in errors">{{ error }}</li>
        </ul>
    </div>

    <button type="submit" ng-disabled="placeForm.$invalid || saving" ng-click="save()" class="btn btn-primary">
        <span ng-show="isNew">{{ 'CREATE' | translate }}</span>
        <span ng-hide="isNew">{{ 'UPDATE' | translate }}</span>
        <span ng-show="saving"><img ng-src="images/ajax-loader.gif" alt="loader"></span>
    </button>

    <a href="places/index#/list" class="btn">{{ 'CANCEL' | translate }}</a>
</form>